{% extends "/template/base.html" %}
{% from "/template/base.html" import th, icon %}

    {% set entidade = "autorizacao" %}

    {% block before %}
        <table cellspacing="5" cellpadding="5" border="0">
            <tbody>
                <tr>
                    <td>Data mínima:</td>
                    <td><input type="text" id="min" name="min" autocomplete="off"></td>
                </tr>
                <tr>
                    <td>Data máxima:</td>
                    <td><input type="text" id="max" name="max" autocomplete="off"></td>
                </tr>
            </tbody>
        </table>
    {% endblock %}

    {% block theader %}
        {{ th("50px", "ID") }}
        {{ th("100px", "Requisitante") }}
        {{ th("100px", "Usuário") }}
        {{ th("100px", "Lab.") }}
        {{ th("100px", "Data") }}
        {{ th("100px", "Hora") }}
        {{ th("100px", "Obs") }}
        {{ th("100px", "Alterar") }}
        {{ th("100px", "Apagar") }}
    {% endblock %}

    {% block tbody %}
        {% for autorizacao in autorizacoes %}
            <tr role="row">
                <td>{{autorizacao.Cod_autorizacao}}</td>
                {% set req = callstatic('Requisitante', 'selecionaPorId', autorizacao.Requisitante_cod_requisitante) %}
                <td>{{req.Nome}}</td>
                {% set user = callstatic('Usuario', 'selecionaPorId', autorizacao.Usuario_matricula) %}
                <td>{{user.Nome}}</td>
                <td class="text-center">{{autorizacao.Laboratorio}}</td>
                <td>{{formatdate(autorizacao.Data_validade)}}</td>
                <td>{{formattime(autorizacao.Hora_inicial)}}</td>
                <td class="text-center"><a href="?pagina=autorizacao&action=observacao&id={{autorizacao.Cod_autorizacao}}"><img src="lib\img\eye.svg" width="25" height="25"></a></td>

                {% if autorizacao.Efetivada == false %}
                    <td class="text-center"><a href="?pagina=autorizacao&action=edit&id={{autorizacao.Cod_autorizacao}}"><img src="lib\img\pencil.svg" width="20" height="20"></a></td>
                    <td class="text-center"><a href="?pagina=autorizacao&action=predelete&id={{autorizacao.Cod_autorizacao}}"><img src="lib\img\bin.svg" width="20" height="20"></a></td>
                {% else %}
                    <td colspan="2">Esta autorização já foi efetivada ou expirou</td>
                    <td class="invisible"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endblock %}
