<h1>Alterar Usuario</h1>

<html>
    <form id="usuarioForm" action="?pagina=usuario&action=update" method="POST">
        <p>Matricula: <input name="matriculaUsuario" type="text" value="{{matricula}}" disabled></p>
        <p>Nome: <input name="nomeUsuario" type="text" value="{{Nome}}" required></p>

        <label for="categ">Categoria:</label>
        <select name="categoriaUsuario" id="categ" form="usuarioForm">
            {% for categoria in categorias %}
                <option value="{{categoria.Cod_categoria}}">{{categoria.Descricao}}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="coord">Coordenação:</label>
        <select name="coordenacaoUsuario" id="coord" form="usuarioForm">
            {% for coordenacao in coordenacoes %}
                <option value="{{coordenacao.Cod_coordenacao}}">{{coordenacao.Nome}}</option>
            {% endfor %}
        </select>
        <br><br>

        <input type="hidden" name="id" value="{{matricula}}">

        <input class="btn btn-primary" type="submit" value="Alterar">
    </form>

    <br><br>

    <a class="btn btn-secondary" href="?pagina=usuario">Voltar</a>
</html>
