<!-- Login -->
<div class="text-center">
    <form class="form-signin">
         <h1 class="h3 mb-3 font-weight-normal">Fazer login para acessar o sistema</h1>

         <label for="inputMatricula" class="sr-only">Matricula</label>
         <input type="text" id="inputMatricula" class="form-control mb-3" placeholder="Matrícula" required autofocus>

         <label for="inputPassword" class="sr-only">Senha</label>
         <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>

         <div class="checkbox mb-3">
           <label>
             <input type="checkbox" value="remember-me"> Lembrar senha
           </label>
         </div>

         <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
