{% extends "/template/base.html" %}
{% from "/template/base.html" import th, icon %}
{% from "/template/add.html" import input %}

    {% block before%}
        <h1>Página <b>Registro</b></h1>
        <br>
    {% endblock %}

    {% block theader %}
        {{ th("350px", "Usuário") }}
        {{ th("350px", "Requisitante") }}
        {{ th("80px", "Data do acesso") }}
        {{ th("80px", "Hora do acesso") }}
        {{ th("28px", "Laboratorio") }}
    {% endblock %}

    {% block tbody %}
        {% for registro in registros %}
            <tr role="row">
                {% if user != false %}
                    {% set user = callstatic('Usuario', 'selecionaPorId', registro.Usuario_matricula) %}
                {% endif %}
                <td>{{user.Nome}}</td>
                {% if aut != false %}
                    {% set auth = callstatic('Autorizacao', 'selecionaPorId', registro.Autorizacao_cod_autorizacao) %}
                {% endif %}
                <td>{{auth.Nome}}</td>
                <td>{{formatdate(registro.Data_acesso)}}</td>
                <td>{{formattime(registro.Hora_acesso)}}</td>
                <td>{{registro.Laboratorio}}</td>
            </tr>
        {% endfor %}
    {% endblock %}
