{% extends "/template/base.html" %}
{% from "/template/base.html" import th, icon %}

    {% set entidade = "turma" %}

    {% block theader %}
        {{ th("100px", "ID") }}
        {{ th("150px", "Sigla") }}
        {{ th("350px", "Nome") }}
        {{ th("150px", "Coordenação") }}
        {{ th("28px", "Alterar") }}
        {{ th("28px", "Apagar") }}
    {% endblock %}

    {% block tbody %}
            {% for turma in turmas %}
                <tr role="row">
                    <td>{{turma.Cod_turma}}</td>
                    <td>{{turma.Sigla}}</td>
                    <td>{{turma.Nome}}</td>
                    {% set coord = callstatic('Coordenacao', 'selecionaPorId', turma.Coordenacao_cod_coordenacao) %}
                    <td>{{coord.Sigla}}</td>
                    <td class="text-center"><a href="?pagina=turma&action=edit&id={{turma.Cod_turma}}"><img src="lib\img\pencil.svg" width="20" height="20"></a></td>
                    <td class="text-center"><a href="?pagina=turma&action=predelete&id={{turma.Cod_turma}}"><img src="lib\img\bin.svg" width="20" height="20"></a></td>
                </tr>
        {% endfor %}
    {% endblock %}
