<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Controle de acesso</title>

    <link rel="stylesheet" href="vendor\twbs\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor\datatables\datatables\media\css\jquery.dataTables.min.css">
    <link rel="stylesheet" href="app/template/style.css">
    <script src="vendor\components\jquery\jquery.min.js"></script>
    <script src="vendor\twbs\bootstrap\dist\js\bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\datatables\datatables\media\js\jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#tabela').DataTable( {

                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],

                  "language": {
                      "lengthMenu": "Mostrar _MENU_ itens por página",
                      "zeroRecords": "Nenhum registro encontrado",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "Não há registros",
                      "search": "Procurar:",
                      "paginate": {
                          "first":      "Primeiro",
                          "last":       "Último",
                          "next":       "Próximo",
                          "previous":   "Anterior"
                      }
                  }

              } );
        } );
    </script>
</head>


    <!-- Side navigation -->
    <div class="sidenav">
        <a id="nome" href="#">
            Pedro Silva
            <p id="matricula">201800000</p>
        </a>
        <hr>


      <a href="?pagina=historico">Histórico</a>
      <a href="?pagina=turma">Turmas</a>
      <a href="?pagina=coordenacao">Coordenações</a>
      <a href="?pagina=categoria">Categorias</a>
      <a href="?pagina=usuario">Usuários</a>
      <a href="?pagina=requisitante">Requisitantes</a>

      <a id="logout" href="#">Logout</a>
    </div>

    <!-- Page content -->
    <div class="main">
      {{area_dinamica}}
    </div>
