<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Controle de acesso</title>
    <link rel="stylesheet" href="app/template/style.css">
</head>


    <!-- Side navigation -->
    <div class="sidenav">
      <a href="?pagina=turma">Turmas</a>
      <a href="?pagina=lab">Laboratórios</a>
      <br><br>
      <a href="#">Logout</a>
    </div>

    <!-- Page content -->
    <div class="main">
      {{area_dinamica}}
    </div>
    <!--
    <nav style="
    text-align: center;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: DarkGrey;
    color: white;
    ">
        <a href="?pagina=home">Home</a>

        <div>
            <ul>
                <li>
                    <a href="?pagina=turma">Gerenciar turmas</a>
                </li>
            </ul>
        </div>
    </nav>
    -->
