<!-- Remember to set entidade and primaryk on child -->
<h1>Deseja realmente apagar permanentemente a {{entidade}}:</h1>

<html>
    <form id="{{entidade}}Form" action="?pagina={{entidade}}&action=delete&id={{primaryk}}" method="POST">
        {% block form %}
            use a form on block form
        {% endblock %}
    </form>

    <br><br>

    <a class="btn btn-primary" href="?pagina={{entidade}}">Voltar</a>
</html>

{% macro submit(value="defaultmacrovalue") %}
    <input class="btn btn-danger" type="submit" value="{{value}}">
{% endmacro %}

{% macro input(type="text", name="defaultmacroname", value="defaultmacrovalue", option="") %}
    <input class=" " type="{{type}}" name="{{name}}" value="{{value}}" {{option}}>
{% endmacro %}
