<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Controle de acesso</title>

    <link rel="stylesheet" href="vendor\components\jqueryui\themes\base\jquery-ui.min.css">
    <link rel="stylesheet" href="vendor\twbs\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="app/view/template/style.css">
    <script src="vendor\components\jquery\jquery.min.js"></script>
    <script src="vendor\components\jqueryui\jquery-ui.min.js"></script>
    <script src="vendor\twbs\bootstrap\dist\js\bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\datatables\datatables\media\js\jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\robinherbots\jquery.inputmask\dist\jquery.inputmask.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.bootstrap4.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script src="app\view\template\script.js"></script>

</head>


    <!-- Side navigation -->
    <div class="sidenav">

        {% if session.loggedin == true %}
            <div class="bloquinho">
                <p>Pedro Silva</p>
                <p id="matricula">{{session.matricula}}</p>
            </div>

            <a href="?pagina=home">Página inicial</a>

            <hr style="background-color: #aaa">

            <a href="?pagina=registro">Registros</a>
            <a href="?pagina=autorizacao">Autorizações</a>
            <a href="?pagina=requisitante">Requisitantes</a>
            <a href="?pagina=usuario">Usuários</a>
            <a href="?pagina=categoria">Categorias de usuários</a>
            <a href="?pagina=turma">Turmas</a>
            <a href="?pagina=coordenacao">Coordenações</a>

            <hr style="background-color: #aaa">

            <a id="logout" href="?pagina=login&action=logout">Logout</a>
        {% else %}

            <a class="btn btn-primary" href="?pagina=login">Fazer login</a>

        {% endif %}
    </div>

    <!-- Page content -->
    <div style="margin-left: 15%"> <!-- Same as sidebar width -->
        <div class="main">
            {{"area_dinamica"}}
        </div>
    </div>

    <footer>

    </footer>
