<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Controle de acesso</title>

    <link rel="stylesheet" href="vendor\twbs\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor\datatables\datatables\media\css\jquery.dataTables.min.css">
    <link rel="stylesheet" href="app/view/template/style.css">
    <link rel="stylesheet" href="vendor\components\jqueryui\themes\base\jquery-ui.min.css">
    <script src="vendor\components\jquery\jquery.min.js"></script>
    <script src="vendor\components\jqueryui\jquery-ui.min.js"></script>
    <script src="vendor\twbs\bootstrap\dist\js\bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\datatables\datatables\media\js\jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\robinherbots\jquery.inputmask\dist\jquery.inputmask.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script>
        $(document).ready( function () {
            $('#tabela').DataTable( {

                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],

                  "language": {
                      "lengthMenu": "Mostrar _MENU_ itens por página",
                      "zeroRecords": "Nenhum registro encontrado",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "Não há registros",
                      "search": "Procurar:",
                      "paginate": {
                          "first":      "Primeiro",
                          "last":       "Último",
                          "next":       "Próximo",
                          "previous":   "Anterior"
                      }
                  }

              } );
        } );

        $( function() {
            $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
            $("#datepicker").inputmask({ "mask": "99/99/9999" });
            $("#timepicker").inputmask({"mask": "99:99"});
        } );

    </script>
</head>


    <!-- Side navigation -->
    <div class="sidenav">

        {% if loggedin == true %}
            <a id="nome" href="#">
                Pedro Silva
                <p id="matricula">201800000</p>
            </a>
        {% else %}
            <!-- Login -->
            <div class="text-center">
                <form class="form-signin">
                     <p class="mb-3 font-weight-normal">Acessar o sistema</p>

                     <label for="inputMatricula" class="sr-only">Matricula</label>
                     <input type="text" autocomplete="username" id="inputMatricula" class="form-control mb-3" placeholder="Matrícula" required autofocus>

                     <label for="inputPassword" class="sr-only">Senha</label>
                     <input type="password" autocomplete="current-password" id="inputPassword" class="form-control" placeholder="Senha" required>

                     <div class="checkbox mb-3">
                       <label>
                         <input type="checkbox" value="remember-me"> Lembrar senha
                       </label>
                     </div>

                     <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        {% endif %}

        {% if loggedin == true %}
            <a id="logout" href="#">Logout</a>
        {% endif %}

        <hr style="background-color: #aaa">

        <a href="?pagina=home">Página inicial</a>
        <a href="?pagina=registro">Registros</a>
        <a href="?pagina=autorizacao">Autorizações</a>
        <a href="?pagina=requisitante">Requisitantes</a>
        <button class="dropdown-btn">Admin
            <img style="position: relative; left: 150px;" src="lib\img\caret-down.svg" width="25px" height="25px">
        </button>
        <div class="dropdown-container">
            <a href="?pagina=usuario">Usuários</a>
            <a href="?pagina=categoria">Categorias de usuários</a>
            <a href="?pagina=coordenacao">Coordenações</a>
            <a href="?pagina=turma">Turmas</a>
        </div>

    </div>

    <!-- Page content -->
    <div style="margin-left: 15%"> <!-- Same as sidebar width -->
        <div class="main">
            {{"area_dinamica"}}
        </div>
    </div>

    <footer>
        <script type="text/javascript">
            //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                } else {
                  dropdownContent.style.display = "block";
                }
              });
            }
        </script>
    </footer>
