<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Controle de acesso</title>

    <link rel="stylesheet" href="vendor\twbs\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor\datatables\datatables\media\css\jquery.dataTables.min.css">
    <link rel="stylesheet" href="app/view/template/style.css">
    <link rel="stylesheet" href="vendor\components\jqueryui\themes\base\jquery-ui.min.css">
    <script src="vendor\components\jquery\jquery.min.js"></script>
    <script src="vendor\components\jqueryui\jquery-ui.min.js"></script>
    <script src="vendor\twbs\bootstrap\dist\js\bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\datatables\datatables\media\js\jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="vendor\robinherbots\jquery.inputmask\dist\jquery.inputmask.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script>
        $(document).ready( function () {
            $('#tabela').DataTable( {

                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],

                  "language": {
                      "lengthMenu": "Mostrar _MENU_ itens por página",
                      "zeroRecords": "Nenhum registro encontrado",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "Não há registros",
                      "search": "Procurar:",
                      "paginate": {
                          "first":      "Primeiro",
                          "last":       "Último",
                          "next":       "Próximo",
                          "previous":   "Anterior"
                      }
                  }

              } );
        } );

        $( function() {
            $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
            $("#datepicker").inputmask({ "mask": "99/99/9999" });
            $("#timepicker").inputmask({"mask": "99:99"});
        } );

    </script>
</head>


    <!-- Side navigation -->
    <div class="sidenav">

        {% if session.loggedin == true %}
            <div class="bloquinho">
                <p>Pedro Silva</p>
                <p id="matricula">{{session.matricula}}</p>
            </div>

            <a href="?pagina=home">Página inicial</a>

            <hr style="background-color: #aaa">

            <a href="?pagina=registro">Registros</a>
            <a href="?pagina=autorizacao">Autorizações</a>
            <a href="?pagina=requisitante">Requisitantes</a>
            <a href="?pagina=usuario">Usuários</a>
            <a href="?pagina=categoria">Categorias de usuários</a>
            <a href="?pagina=coordenacao">Coordenações</a>
            <a href="?pagina=turma">Turmas</a>

            <hr style="background-color: #aaa">

            <a id="logout" href="?pagina=login&action=logout">Logout</a>
        {% else %}

            <a class="btn btn-primary" href="?pagina=login">Fazer login</a>

        {% endif %}
    </div>

    <!-- Page content -->
    <div style="margin-left: 15%"> <!-- Same as sidebar width -->
        <div class="main">
            {{"area_dinamica"}}
        </div>
    </div>

    <footer>

    </footer>
