/* The sidebar menu */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.5rem;
}

#sidebar-wrapper .list-group {
    width: 20rem;
    font-size: 1.3rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -20rem;
    }
}

p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.navbar {
    font-size: 120%;
}
/* Style page content */
.main {
    padding-top: 10px;
    width: 70%;
    margin: auto;
}

body {
    background: #FAFAFA;
}

.iconDelete {
    fill: #000;
}

.iconDelete:hover {
    fill: #C82333
}

form select {
    width: 50ch;
}

.homepg img {
    border-radius: 5%;
    margin-right: 30px;
}

.homepg ul {
    text-align: justify;
    font-size: 24px;
    width: 60%;
    margin: auto;
}

.homepg li {
    margin-bottom: 24px;
}

.container {
    width: 100%;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

output {
    position: absolute;
    color: red;
    float: right;
    margin-left: 10px;
    margin-top: 4px;
    font-family: Arial;
    font-weight: bold;
}
