/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 25px 8px 5px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #AAA;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav form {
    color: #AAA;
    font-size: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
  color: #FFF;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #0069D9;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style page content */
.main {
  padding-top: 5%;
  width: 70%;
  margin: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


body {
    background: #FAFAFA;
}

.iconDelete {
fill: #000;
}

.iconDelete:hover {
fill: #C82333
}

#nome {
    padding: 6px 8px 6px 16px;
}

#matricula {
  padding: 10px 18px 10px 12px;
  font-size: 18px;
}

#logout {
    padding: 50px 8px 6px 16px;
    display: block;
}

.homepg img{
    border-radius: 5%;
    margin-right: 30px;
}

.homepg ul {
    text-align: justify;
    font-size: 24px;
    width: 60%;
    margin: auto;
}

.homepg li {
    margin-bottom: 24px;
}

.container {
    width: 100%;
    text-align: center;
}


/* form signin */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
