{% extends "/template/add.html" %}
{% from "/template/add.html" import submit, input %}

{% set entidade = "autorizacao" %}

    {% block form %}
        <label for="user">Usuário:</label>
        <select name="usuario" id="user" form="autorizacaoForm">
            {% for usuario in usuarios %}
                <option value="{{usuario.matricula}}" >{{usuario.Nome}}</option>
            {% endfor %}
        </select>

        <br>

        <label for="req">Requisitante:</label>
        <select name="requisitante" id="req" form="autorizacaoForm" >
            {% for requisitante in requisitantes %}
                <option value="{{requisitante.Cod_requisitante}}" >{{requisitante.Nome}}</option>
            {% endfor %}
        </select>
        <a class="btn btn-sm btn-primary" href="?pagina=requisitante&action=create">Adicionar requisitante</a>

        <p>Laboratório: <input type="text" size=13 name="laboratorio" placeholder="n° do laboratório" required > </p>

        <p>Data de validade: <input id="datepicker" type="text" name="data" readonly="true" required> </p>
        <p>Hora de validade: <input id="timepicker" type="text" name="hora" required>
        <output></output> </p>

        <p>Observações: </p>
        <textarea name="obs" rows="3" cols="50"></textarea>

        <br>

        <label for="rfid">Cartão RFID: </label>
        <!--
        <select name="rfid" id="rfid" form="autorizacaoForm" >
            {% for rfid in arr_rfid %}
                <option value="{{rfid.Rfid}}" >{{rfid.Rfid}}</option>
            {% endfor %}
        </select>
        -->
        <input type="text" name="rfid">

        <br><br>

        {{ submit("Adicionar") }}
    {% endblock %}
