{% extends "/template/add.html" %}
{% from "/template/add.html" import submit, input %}

{% set entidade = "turma" %}

    {% block form %}
        <p>Nome: {{ input("text", "nomeTurma", " ", "required") }}</p>
        <p>Sigla: {{ input("text", "siglaTurma", " ", "required") }}</p>

        <label for="coord">Coordenação:</label>
        <select name="codCoordenacao" id="coord" form="turmaForm">
            {% for coordenacao in coordenacoes %}
                <option value="{{coordenacao.Cod_coordenacao}}" >{{coordenacao.Nome}}</option>
            {% endfor %}
        </select>
        <br><br>

        {{ submit("Adicionar") }}
    {% endblock %}
