{% extends "/template/edit.html" %}
{% from "/template/edit.html" import submit, input %}

{% set  entidade = "autorizacao" %}

    {% block form %}

        {% set user = callstatic('Usuario', 'selecionaPorId', Usuario_matricula) %}
        {% set req = callstatic('Requisitante', 'selecionaPorId', Cod_requisitante) %}

        <p>Usuário: <input type="text" size='50' value="{{user.Nome}}" disabled=""></p>

        <br>

        <label for="req">Requisitante:</label>
        <select name="requisitante" id="req" form="autorizacaoForm" >
            {% for requisitante in requisitantes %}
                <option value="{{requisitante.Cod_requisitante}}" >{{requisitante.Nome}}</option>
            {% endfor %}
        </select>
        <a class="btn btn-sm btn-primary" href="?pagina=requisitante&action=create">Adicionar requisitante</a>

        <p>Laboratório: <input type="text" size=13 name="laboratorio" placeholder="n° do laboratório" value={{Laboratorio}} required > </p>

        <p>Data de validade: <input id="datepicker" type="text" name="data" value={{Data_validade}} autocomplete="off" required> </p>
        <p>Hora de validade: <input id="timepicker" type="text" name="hora" value={{Hora_inicial}} required> </p>

        <p>Observações: </p>
        <textarea name="obs" rows="3" cols="50">{{Obs}}</textarea>
        <br>

        <p>Cartão RFID: </p>
        <input type="text" name="rfid" value="{{Rfid}}">

        <br>
        <br>

        <input type="hidden" name="Cod_autorizacao" value="{{Cod_autorizacao}}">
        <input type="hidden" name="usuario" value="{{Usuario_matricula}}">

        {{ submit("Alterar") }}
    {% endblock %}
